
.identity-content {
    overflow: hidden;
    /* padding-bottom: 50px; */
    height: 400px;
}

.identity-content .left {
    width: 57%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 250px;

    position: relative;
}
.left-item {
    width: 10px;
    height: 100%;
    background-color: #dc1822;
}

.right-item p {
    font-size: 18px;
    text-align: justify;
}

.right-logo {
    position: absolute;
    width: 1500px;

    height: 1000px;
    right: -65%;
    top: -5%;
    z-index: -1;

    overflow: hidden;
    
    /* transform: translateY(-50%); */
}

.right-logo img {
    width: 1500px;
    position: relative;

    /* height: 1500px; */
    color: #ca2027;
}