
.mission {
    background-color: #878787;
}

.mission .section-title-line {
    background-color: white;
}

.mission .subtitle span {
    color:#fff;
}

/* invert neo-box */
.mission .neo-box {
    position: relative;
    background: white;
    border: 3px solid black;
    box-shadow: -6px 6px 0 black;
}

.mission-content {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 50px;
}

.mission-box {
    width: 46%;
}

.mission-box:nth-child(1) {
  align-self: flex-start;
}

.mission-box:nth-child(2) {
  left: 20%;
}

.mission-box:nth-child(3) {
  left: 40%;
}

.mission .title-container h1 {
    color: white;
}