
.navbar {
    background-color: rgb(255, 255, 255, 0.92);
    backdrop-filter: blur(6px);
    color: white;
    padding: 6px 20px 6px 20px;
    /* text-align: center; */
    position: sticky;
    top: 0;
    z-index: 1000;
    /* border-bottom: 0.2px solid rgb(189, 37, 50); */

}

.navbar-container {
    /* width: 60vw; */
    max-width: 1420px;
    /* font-size: 1em; */
    /* padding: 0px 24px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    width: 200px;
}

.navbar-left {
  flex: 1;
  left: 0;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

/* Contact Button */
.navbar-center > :nth-child(4) { 
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.5em 1em;
  /* box-shadow: 4px 4px 0 #000; */
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

/* pop out the contact button */
.navbar-center > :nth-child(4):hover {
  transform: translate(2px, -2px);
  box-shadow: -3px 3px 0 #000;
}

#nav-button {
    text-decoration: none;
    font-size: 1em;
    color:#1b1b1b;
}

#nav-button:hover {
    color: #f23;

    /* text-shadow: 0 0 5px #f23, 0 0 10px #f23, 0 0 15px #f23; */

    transition: color 0.15s ease-in-out;
}

.navbar-right {
  flex: 1;
}