
.services {
    /* overflow: hidden; */
    /* height: 500px; */
    /* margin-bottom: 50px; */
    z-index: 10;
}

.services .section-title-line {
    background-color: black;
}

.services .title-container h1 {
    color: #dc1822;
}


.services .subtitle span {
    color: black;
}

.service-title h3 {
    padding: 0px;

    margin: 10px 0px;
    font-weight: bold;
}

.services-content {
    /* position: absolute; */
    /* width: 100vw; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    margin: 0 auto;
    /* height: 200px; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.services-content .service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 456px;
}

.service-description {
    height: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.services .subtitle span {
    color: #dc1822;
    
}
.services .subtitle .section-title-line {
    background-color: #dc1822;
    
}