
.services {
    /* overflow: hidden; */
    /* height: 500px; */
    /* margin-bottom: 50px; */
    z-index: 10;
}

.services .section-title-line {
    background-color: black;
}

.services .title-container h1 {
    color: #dc1822;
}


.services .subtitle span {
    color: black;
}

.services .neo-box {
    /* height: 460px; */
    gap: 0;
    justify-content: first baseline;
}

.service-title {
    /* margin-bottom: 10px; */
    text-align: left;
}

.service-title h2 {
    height: 58px;
    padding: 0px;
    margin: 10px 0px;

    /* font-weight: bold; */
}
.service-title h4 {
    padding: 0px;
    margin: 0px;
    color: #dc1822;

    font-weight: normal;
}

.services-content {
    /* position: absolute; */
    /* width: 100vw; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    margin: 0 auto;
    /* height: 200px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: center;
}

#services-polygon {
    position: absolute;
    width: 1800px;
}

.services-content .service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-top: 10px;
}

.service-description {
    max-height: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.services .subtitle span {
    color: #dc1822;
    
}
.services .subtitle .section-title-line {
    background-color: #dc1822;
    
}

.service ul {
    margin: 0;
    margin-top: 20px;
    padding: 0px 0px;
}

/* no dot for li */
.service ul li {
    list-style-type: none;
    margin-bottom: 5px;
    padding-left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.services ul li svg {
    position: relative;
    top: 2px;
    color: #dc1822;
    
    width: 18px;
    height: 18px;
}


.services .neo-box { 
    box-shadow: 0px 0px 0 black;
    
  /* border: 2px solid black; */
  /* border-radius: 3px; */
  /* padding: 0.5em 1em; */
  /* box-shadow: 4px 4px 0 #000; */
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;

}

.neo-box .service {
    height: 555px;
}


.services .neo-box:hover {
    border: 3px solid #dc1822;
    /* border-top: 3px solid #dc1822;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000; */
    
    transform: translate(2px, -2px);
    box-shadow: -3px 3px 0 #000;
}

.service-link {
    margin-top: 10px;
    text-decoration: none;
}
.service-link-button {
    text-decoration:none;
    font-size: 1em;
    background-color: #dc1822;
    color:#fff;
    /* border-radius: 3px; */
    text-align: center;

    padding: 12px 15px;
    /* border: 2px solid black; */
}
.service-link-button:hover {
    filter: brightness(0.9);

    transition: filter 0.15s ease-in-out;
}
.service-link-button span {
    text-decoration:none;
}